src/dietlibc/**
src/libowfat/**
www
build
*CMakeFiles
.prefix
.gitignore
dietchan 
src/dietchan/Makefile
src/dietchan/src/dietchan
*dietchan_db*

data/sRGB.icc

CMakeCache.txt

cmake_install.cmake

captcha

Makefile
